.BoxPanel{
    padding: 15px;
}
.inputDivCol{
    display: "flex" ;
    flex-direction:"column";
}
.paraBottom{
    margin-bottom: 15px;
}
.labelStyle{
    font-size: 15px;
    margin-left: 35px;
    /* margin-top: 3px; */
}
.allSupplierList{
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
}
.DragText{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    color: #d4cbcb;
}
.configList{
    width: 100%;
    border-right: none !important;
    border-left: none !important;
    border: 0.5px solid #d4cbcb;
    display: flex;
    justify-content: space-between;
}
.BoxPanelBottom{
    margin-bottom: 50px;
    /* background-color: transparent; */
    padding: 15px;
}