.BoxPanel{
    padding: 15px;
    margin-top: 10px;
}
.inputDivCol{
    display: "flex" ;
    flex-direction:"column";
}
.Btn-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.p_bottom {
    margin-bottom: 0px;
}
.editTextBtn{
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 5px 10px;
    margin-left: 15px;
    font-size: 12px;
    border-radius: 5px;
}
.editDisplayNone{
    display: none;
}
.divInput{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
/* 
.paraBottom{
    margin-bottom: 15px;
}
.labelStyle{
    font-size: 15px;
    margin-left: 35px;
}
.allSupplierList{
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
}
.DragText{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    color: #d4cbcb;
}
.configList{
    width: 100%;
    border-right: none !important;
    border-left: none !important;
    border: 0.5px solid #d4cbcb;
    display: flex;
    justify-content: space-between;
}
.BoxPanelBottom{
    margin-bottom: 50px;
    padding: 15px;
} */