.LoginContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    height: 410px;
    width: 500px;
    background-color: #fff;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.headingSignIn{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 12px;
}
.dha-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fg-password{
    color: #8899A6;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: right;
    margin-right:10px;
}
.fg-password:hover{
    color: #007bff;
}