.add-new-post__editor .ql-container,
.add-new-post__editor .ql-editor {
  min-height: 400px;
}
.ql-toolbar{
  display: none;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
  border-top: 1px solid #e1e5eb;
} 